{extend name='base' /}
{block name='content'}

<!--<div class="admin-content">-->
<!--<div class="admin-content-body">-->
<!--<div class="am-cf am-padding am-padding-bottom-0">-->
<!--<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加商品</strong> / <small>Personal information</small></div>-->
<!--</div>-->

<!--<hr/>-->

<!--<div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">-->
<!--<form class="am-form am-form-horizontal"-->
<!--action="{:url('admin/product/store')}"-->
<!--enctype="multipart/form-data"-->
<!--method="post">-->

<!--<div class="am-form-group">-->
<!--<div class="am-u-sm-3 am-form-label">所属分类</div>-->
<!--<div class="am-u-sm-4 am-u-md-2">-->
<!--<select data-am-selected="{btnSize: 'sm'}" name="category_id">-->
<!--<option value="2">果味</option>-->
<!--<option value="3">蔬菜</option>-->
<!--<option value="4">炒货</option>-->
<!--<option value="5">点心</option>-->
<!--<option value="6">粗茶</option>-->
<!--<option value="7">淡饭</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->

<!--<div class="am-form-group">-->
<!--<label for="" class="am-u-sm-3 am-form-label">商品名称</label>-->
<!--<div class="am-u-sm-9">-->
<!--<input type="text" placeholder="" name="name">-->
<!--</div>-->
<!--</div>-->

<!--<div class="am-form-group">-->
<!--<label for="" class="am-u-sm-3 am-form-label" name="price">商品价格</label>-->
<!--<div class="am-u-sm-9">-->
<!--<input type="tel" placeholder="" name="price">-->
<!--</div>-->
<!--</div>-->

<!--<div class="am-form-group">-->
<!--<label for="" class="am-u-sm-3 am-form-label">商品库存</label>-->
<!--<div class="am-u-sm-9">-->
<!--<input type="number" placeholder="" name="stock">-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="am-form-group">&ndash;&gt;-->
<!--&lt;!&ndash;<label for="" class="am-u-sm-3 am-form-label">商品图片</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="am-form-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="file" id="img_id">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="am-form-group">-->
<!--<div class="am-u-sm-9 am-u-sm-push-3">-->
<!--<button type="submit" class="am-btn am-btn-primary">添加商品</button>-->
<!--</div>-->
<!--</div>-->

<!--</form>-->

<!--</div>-->
<!---->

<!--</div>-->
<!--</div>-->

<!--<footer class="admin-content-footer">-->
<!--<hr>-->
<!--<p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>-->
<!--</footer>-->

<!--</div>-->

<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">表单</strong> /
                <small>form</small>
            </div>
        </div>

        <hr>

        <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li><a href="#tab2">添加商品</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade" id="tab2">
                    <form class="am-form"
                          action="{:url('admin/product/store')}"
                          enctype="multipart/form-data"
                          method="post">

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                商品分类
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <select data-am-selected="{btnSize: 'sm'}" name="category_id">
                                    <option value="2">果味</option>
                                    <option value="3">蔬菜</option>
                                    <option value="4">炒货</option>
                                    <option value="5">点心</option>
                                    <option value="6">粗茶</option>
                                    <option value="7">淡饭</option>
                                </select>
                            </div>
                        </div>


                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                商品名称
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="text" class="am-input-sm" name="name">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                商品价格
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="text" class="am-input-sm" name="price">
                            </div>
                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                商品库存
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="text" class="am-input-sm" name="stock">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                商品图片
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="file" class="am-input-sm">
                            </div>
                        </div>

                        <div class="am-margin">
                            <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>


    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>
</div>
{/block}