{extend name='base' /}
{block name='content'}


<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> /
                <small>Table</small>
            </div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-id">ID</th>
                            <th class="table-title">商品名称</th>
                            <th class="table-type">商品价格</th>
                            <th class="table-author am-hide-sm-only">所属分类</th>
                            <th class="table-date am-hide-sm-only">商品库存</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--name是指定循环的数据-->
                        {foreach name='field' key='key' item='vo'}
                        <tr>
                            <td>{$vo['id']}</td>
                            <td><a href="#">{$vo['name']}</a></td>
                            <td>{$vo['price']}</td>
                            <td class="am-hide-sm-only">{$vo['category_id']}</td>
                            <td class="am-hide-sm-only">{$vo['stock']}</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">

                                        <button class="edit">
                                            <a href="{:url('admin/product/edit',[ 'id'=>$vo['id'] ])}">
                                                编辑
                                            </a>
                                        </button>
                                        <button class="">
                                            <a  class="delete" data_id="{$vo.id}">删除</a>
                                        </button>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/foreach}

                        </tbody>
                    </table>
                    <div class="am-cf">
                        共 15 条记录
                        <div class="am-fr">
                            <ul class="am-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr/>
                    <p>注：.....</p>
                </form>
            </div>

        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

</div>

<script>
    $(function () {
        $(".delete").click(function () {
            var id = $(this).attr('data_id');
            $.ajax({
                    url: "{:url('admin/product/del')}",
                    type: "POST",
                    data: {id: id},
                    dataType:"json",
                    success: function (data) {
                        if (data.code == 1){
                            layer.msg(data.msg, {
                                icon:6,
                                time:2000
                            },function () {
                                location.href = data.url;
                            });
                        }else {
                            layer.open({
                                title:'删除失败',
                                content:data.msg,
                                icon:5,
                                anim:6
                            });
                        }
                    },
                    error: function () {
                        alert('删除栏目失败');
                    }
                });
        })
        return false;
    });

</script>

{/block}