{extend name='base' /}
{block name='content'}

<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">订单管理</strong> /
                <small>order manage</small>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">

                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-title">订单ID</th>
                            <th class="table-title">订单号</th>
                            <th class="table-type">订单名称</th>
                            <th class="table-author am-hide-sm-only">商品总数</th>
                            <th class="table-date am-hide-sm-only">商品总价格</th>
                            <th class="table-date am-hide-sm-only">订单状态</th>
                            <th class="table-date am-hide-sm-only">下单时间</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody id="order-table">
                        <!--name是指定循环的数据-->
                        {foreach name='field' key='key' item='vo'}
                        <tr>
                            <td>{$vo['id']}</td>
                            <td>{$vo['order_no']}</td>
                            <td>{$vo['snap_name']}</td>
                            <td>{$vo['total_count']}</td>
                            <td>{$vo['total_price']}</td>
                            <td>{$vo['status']|getOrderStatus}</td>
                            <td>{$vo['create_time']|date='Y年m月d日-h:d:s',###}</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">

                                        <button class="edit">
                                            <a href="{:url('admin/order/deliver',[ 'id'=>$vo['id'] ])}">
                                                发货
                                            </a>
                                        </button>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/foreach}

                        </tbody>

                    </table>
                    <div class="am-cf">
                        <div class="am-fr">
                            <!--<ul class="am-pagination">-->
                                <!--<li class="am-disabled"><a href="#">«</a></li>-->
                                <!--<li class="am-active"><a href="#">1</a></li>-->
                                <!--<li><a href="#">2</a></li>-->
                                <!--<li><a href="#">3</a></li>-->
                                <!--<li><a href="#">4</a></li>-->
                                <!--<li><a href="#">5</a></li>-->
                                <!--<li><a href="#">»</a></li>-->
                            <!--</ul>-->
                            {$field->render()}
                        </div>
                    </div>
                    <hr/>
                    <p>注：.....</p>
                </form>
            </div>

        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

</div>

{/block}